<div class='row'>
  <div class="col-md-3">
    <div class="mg-r">
      <img src="http://placehold.it/200x200" class='debug img-thumbnail'>
      <ul class='d-i debug'>
        <li class='fs-xl mg-t p-l'>Twitter Name</li>
        <li class='fs-m p-l'>@handle</li>
      </ul>
    </div>
    <div class="p-s rcorners bg-w mg-t mg-r">
      <a href="#" class='fs-l'>Compatibility Report</a>
      <ul class='mg-t'>
        <li>Presidential:</li>
          <ul>
            <li>Clinton 35%</li>
            <li>Clinton 28%</li>
            <li>Clinton 82%</li>
          </ul>
        <li>Vice President: </li>
          <ul>
            <li>Clinton 35%</li>
            <li>Clinton 28%</li>
            <li>Clinton 82%</li>
          </ul>
      </ul>
    </div>
  </div>
  <div class="col-md-9 debug">
    <div class='h-m'></div>
     <ul class='p-s mg-b'>
        <li class="d-i debug p-r">
          <a href="#">
            <span class='fs-s'>WATCHINGS<span class='d-b txt-c fs-l'>20</span></span>
          </a>
        </li>
        <li class="d-i debug p-r">
          <a href="#">
            <span class='fs-s'>WATCHED<span class='d-b txt-c fs-l'>100</span></span>
          </a>
        </li>
        <li class="d-i debug p-r">
          <a href="#">
            <span class='fs-s'>ENDORSED<span class='d-b txt-c fs-l'>32</span></span>
          </a>
        </li>
      </ul>
    <ul class='nav nav-tabs bg-w row txt-c'>
      <li class="active"><a href="#watching" data-toggle="tab"><strong>People I Watch</strong></a></li>
      <li><a href="#endorse" data-toggle='tab'><strong>People I Endorse</strong></a></li>
    </ul>
    <div class='tab-content'>
      <div class='tab-pane active' id='watching'>
        <div class='rcorners bg-w row txt-c'>
          <img src="http://placehold.it/48x48" alt="" class='mg p-s col-md-2'>
          <div class='col-md-9 mg p-s debug'>
          <a href="#"><strong>Organization Name</strong></a href="#">
          <ul class='mg-l'>
            <li>Hillary Clinton - Office - District</li>
            <li>Joe Biden - Office - District</li>
            <li>Bernie Sanders - Office - District</li>
          </ul>
          <ul>
            <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-ban-circle c-r" aria-hidden="true"></span></a></li>
            <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-info-sign c-b" aria-hidden="true"></span></a></li>
          </ul>
        </div>
      </div>
      <div class='rcorners bg-w row txt-c'>
          <img src="http://placehold.it/48x48" alt="" class='mg p-s col-md-2'>
          <div class='col-md-9 mg p-s debug'>
          <a href="#"><strong>Organization Name</strong></a href="#">
          <ul class='mg-l'>
            <li>Hillary Clinton - Office - District</li>
            <li>Joe Biden - Office - District</li>
            <li>Bernie Sanders - Office - District</li>
          </ul>
          <ul>
            <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-ban-circle c-r" aria-hidden="true"></span></a></li>
            <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-info-sign c-b" aria-hidden="true"></span></a></li>
          </ul>
        </div>
    </div>
    </div>
    <div class='tab-pane rcorners bg-w row txt-c' id="endorse">
      <img src="http://placehold.it/48x48" alt="" class='mg p-s col-md-2'>
      <div class='col-md-9 mg p-s debug'>
      <a href="#"><strong>Hillary Clinton</strong></a href="#">
      <ul class='mg-l'>
        <li>Organization 1</li>
        <li>Organization 2</li>
        <li>Organization 3</li>
      </ul>
      <ul>
        <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-ban-circle c-r" aria-hidden="true"></span></a></li>
        <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-info-sign c-b" aria-hidden="true"></span></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
