<% @endorsed_candidates.each_with_index do |twitteruser, index| %>
<div class='rcorners bg-w row txt-c'>
  <img src="<%= twitteruser.image %>" alt="" class='mg p-s col-md-2'>
  <div class='col-md-9 mg p-s debug'>
  <a href="<%= show_path(twitteruser) %>"><strong><%= twitteruser.name %></strong></a href="#">
  <ul class='mg-l'>
    <li><%= twitteruser.description %></li>
    <li>Endorsed by: Sierra Club</li>
    <li>Endorsed by: Planned Parenthood</li>
  </ul>
</div>
</div>
<% end %>
