<%= form_for current_user, url: update_district_path(@user), method: :put do |f| %>

<li class='fs-l mg-t p-l'><%= f.label :where_will_you_vote? %></li>

<li class='fs-xl mg-t center-button'><%= f.text_field :populate_district , :class => "glyphicon-search", :id => "setDistrict" %></li>

<li class='fs-xl mg-t p-xl'><%= f.submit "Update your district", :class => "btn btn-warning form-control" %></li>

<% end %>