<%= form_for current_user do |f| %>

<li class='fs-l mg-t p-l'><%= f.label :where_will_you_vote? %></li>

<li class='fs-l mg-t p-l'><%= f.text_field :populate_district , :class => "glyphicon-search", :placeholder => "Please input your district" %></li>

<li class='fs-l mg-t p-l'><%= f.submit "Update your district", :class => "form-control" %></li>

<% end %>