
<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Profile</a>
      <a class="navbar-brand" href="/">Login/Logout</a>
      <a class="navbar-brand" href="/">Logo Image goes here in the middle</a>
      <a class="navbar-brand" href="/">Search box goes on the right</a>
      <a class="navbar-brand" href="/">Avatar Image goes here</a>
      <a class="navbar-brand" href="/">Endores Icon goes here</a>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active navbar"><a href="#">Home</a></li>
        <li class="active navbar"><a href="#">Page 1</a></li>
        <li class="active navbar"><a href="#">Page 2</a></li>
        <li class="active navbar"><a href="#">Page 3</a></li>
      </ul>
    </div>
  </div>
</nav>
