<div class='stats'>
  <span class='d-i'>
    <ul class='p-s mg-b'>
      <li class="d-i debug">
        <a href="#">
          <span class='fs-xs'>WATCHED<span class='d-b txt-c fs-m'>100</span></span>
        </a>
      </li>
      <li class="d-i debug">
        <a href="#">
          <span class='fs-xs'>ENDORSED<span class='d-b txt-c fs-m'>32</span></span>
        </a>
      </li>
    </ul>
  </span>
  <span class='avatar'>
    <%= render 'shared/avatar', object: @can %>
  </span>
</div>
