<% @tusers.each do |tuser| %>
<div class='rcorners bg-w row txt-c'>
  <img src="<%= tuser.image %>" alt="" class='mg p-s col-md-2'>
  <div class='col-md-9 mg p-s debug'>
  <a href="<%= show_path(tuser) %>">
    <strong>
      <%= tuser.name %>
    </strong>
  </a>
  <ul class='mg-l'>
    <li><%= tuser.description %></li>
  </ul>
</div>
</div>
<% end %>
