@import "bootstrap-sprockets";
@import "bootstrap";

.debug { border: 0px solid red; }

.h:hover { background-color: #B1E8C9; }

.b-t { border-top: 1px solid #e1e8ed; }

.b-b { border-bottom: 1px solid #e1e8ed; }

.b-r { border-right: 1px solid #e1e8ed; }

.sm-avatar {
  height: 3em;
  width: 3em;
}

.sp-height {
  height: 4.1em;
}

.small {
    height: 80px;
    overflow:hidden;

    tbody, .stats {
      display: none;
    }
}
.big {
    height: auto;
}

a:active { color: grey !important; }

a:link { color: #008B3C !important; }

a:hover {
  color: #005A27 !important;
  text-decoration: none !important;
  }

a:visited { color: grey !important; }

ul { list-style: none; }

.bg-w { background-color: #fff;}

.bg-g { background-color: #27AE62; }

.bg-lg { background-color: #B1E8C9; }

.w { width: 100%; }

.w-m { width: 65%; }

.h-m { height: 9em; }

.h-s { height: 5em; }

.h-xs { height: 2em; }

.h-l { height: 14em; }

.h-xl { height: 14.5em; }

.t { top: 10em; }

.c-r { color: red; }

.c-g { color: green; }

.c-b { color: blue; }

.c-gy { color: grey; }

.p-a { position: absolute; }

.fs-s { font-size: 11px; }

.fs-xl { font-size: 22px; }

.fs-m { font-size: 14px; }

.fs-xm { font-size: 13px; }


.fs-xs { font-size: 8px; }


.fs-l { font-size: 18px; }

.fw-t { font-weight: 300}

.body-not-bs {
  background-color:#F7FFFC;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.mg-l { margin-left: .4em; }

.mg-r { margin-right: .4em; }

.mg-t { margin-top: .4em; }

.mg-b { margin-bottom: 1.5em; }

.mg { margin: .3em .3em .3em .3em;}

.mg-b-z { margin-bottom: 0 }

.m-a {margin-left: auto; margin-right: auto; }

.d-i { display: inline-block; }

.d-b { display: block; }

.txt-c { text-align: center;}

.p-s { padding: .5em; }

.p-l { padding-left: .4em; }

.p-r { padding-right: 2em; }

.p-t { padding-top: 1.5em; }

.p { padding: .5em; }

.p-l-m { padding-left: 3em; }


.m-s { margin: .2em; }

td { padding: .2em; }

.th-w { width: 90% }

dt { margin-top: 1em; }

.rcorners {
    border-radius: 3px;
    border: 1px solid #e1e8ed;
}

.col-md-3 { padding: 0 }

.navbar-brand
  {
      position: absolute;
      width: 60%;
      left: 20%;
      text-align: center;
      margin: auto;
  }

/* Normalize */

ul, menu, dir {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/* Fix Overflows */

.of {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
