@import "bootstrap-sprockets";
@import "bootstrap";

.debug {
  border: 1px solid red;
}

a:active { color: grey !important; }

a:link { color: #008B3C !important; }

a:hover {
  color: #005A27 !important;
  text-decoration: none !important;
  }

a:visited { color: grey !important; }

ul { list-style: none; }

.bg-w { background-color: #fff;}

.bg-g { background-color: #27AE62; }

.w { width: 100%; }

.w-m { width: 80%; }

.h-m { height: 9em; }

.h-s { height: 5em; }

.h-xs { height: 2em; }

.h-l { height: 14em; }

.h-xl { height: 14.5em; }

.t { top: 10em; }

.c-r { color: red; }

.c-g { color: green; }

.c-b { color: blue; }

.p-a { position: absolute; }

.fs-s { font-size: 11px; }

.fs-xl { font-size: 22px; }

.fs-m { font-size: 14px; }

.fs-xm { font-size: 13px; }


.fs-xs { font-size: 8px; }


.fs-l { font-size: 18px; }

.body-not-bs {
  background-color:#F7FFFC;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.mg { mg: auto; }

.mg-l { margin-left: .4em; }

.mg-r { margin-right: .4em; }

.mg-t { margin-top: .4em; }

.mg-b { margin-bottom: 1.5em; }

.mg { margin: .3em .3em .3em .3em;}

.mg-b-z { margin-bottom: 0 }

.d-i { display: inline-block; }

.d-b { display: block; }

.txt-c { text-align: center;}

.p-s { padding: .5em; }

.p-l { padding-left: .4em; }

.p-r { padding-right: 2em; }

.p-t { padding-top: 1.5em; }


.p { padding: .5em; }


.m-s { margin: .2em; }

.rcorners {
    border-radius: 3px;
    border: 1px solid #e1e8ed;
}

.col-md-3 { padding: 0 }

.navbar-brand
  {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
  }

/* Normalize */

ul, menu, dir {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
