// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.not-bs-nav {
  font-family: Gotham,Arial,sans-serif;
  font-weight: 500;
  background-color: #f5f8fa;
}



.home-left-column {
  float:left;
  width:25%;
  background-color: #f5f8fa;
  }

.home-middle-column {
  float:left;
  width: 40%;
  background-color:#f5f8fa;
  }

.home-right-column {
  float:left;
  width: 29%;
  background-color:#f5f8fa;
  }

