// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.not-bs-nav {
  font-family:Arial,sans-serif;
  font-weight: 500;
}

.debug {
  border: 1px solid red;
}

.home-left-column {
  float:left;
  width:25%;
  background-color:pink;
  }

.home-middle-column {
  float:left;
  width: 40%;
  background-color:blue;
  }

.home-right-column {
  float:left;
  width: 29%;
  background-color:purple;
  }
